<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nl.go4slam.app"
        version     = "0.0.1" >

    <name>Go4Slam</name>

    <description>
        Omschrijving
    </description>

    <author href="http://go4slam.nl" email="info@go4slam.nl">
        Go4Slam
    </author>

    <icon src="icon.png" />

    <plugin name="org.apache.cordova.network-information" spec="0.2.12" source="pgb" />
</widget>
