body {
    .panel {
        &.panel-primary {
            border-color: @orange;

            .panel-heading {
                background-color: @orange;
                border-color: @orange;
            }
        }
        
        &.panel-default {
            .panel-heading {
                .fa-plus {
                    float: right;
                    cursor: pointer;
                }
            }
        }
    }
    
    .btn-primary {
        background-color: @orange;
        border: none;

        &:hover {
            background-color: @dark-orange;
            color: white;
        }
    }
    
    a {
        color: @orange;
        
        &:hover {
            color: @dark-orange;
        }
    }
    
    .container {
        max-width: 1000px;
    }
    
    main {
        margin-top: 30px;
        
        .datatable tbody tr td {
            &:last-of-type {
                i {
                    padding: 0px 5px;
                }
            }
            
            &.manage > i{
                cursor: pointer;
            }
        }
        
        small {
            font-size: 10px;
            
            &:before {
                content: '(';
            }
            
            &:after {
                content: ')';
            }
        }
        
        .alert > p {
            display: inline;
        }
    }
}