body {
    .panel {
        &.panel-primary {
            border-color: @orange;

            .panel-heading {
                background-color: @orange;
                border-color: @orange;
            }
        }
        
        &.panel-default {
            .panel-heading {
                .fa-plus {
                    float: right;
                }
            }
        }
    }
    
    .btn-primary {
        background-color: @orange;
        border: none;

        &:hover {
            background-color: @dark-orange;
            color: white;
        }
    }
    
    a {
        color: @orange;
        
        &:hover {
            color: @dark-orange;
        }
    }
    
    .container {
        max-width: 1000px;
    }
    
    main {
        margin-top: 30px;
    }
}